- if envelope.is_account?
  = partial 'envelopes/real_account', :with => envelope
- elsif envelope.actual_amount > 0
  %div.envelope{:id => "envelope_#{envelope.id}"}
    %div
      %p.name= envelope.name
      %p.amount== $#{envelope.actual_amount}
      %p.budget
        &nbsp;
        - if envelope.budget && envelope.budget.amount > 0
          == of $#{envelope.budget.amount}
      %ul.clickmenu
        %li
          %a.modal_link{:href => url(:spend_envelope, envelope)} Spend
        %li
          %a.modal_link{:href => url(:add_transaction_envelope, envelope)} Add Transaction
        %li
          %a.modal_link{:href => url(:show_transactions_envelope, envelope)} View Transactions
        %li
          %a.modal_link{:href => url(:withdraw_envelope, envelope)} Withdraw
        %li
          %a.modal_link{:href => url(:budget_envelope, envelope)} Budget
