- if envelope.is_account?
  = partial 'envelopes/real_account', :with => envelope
- else
  %div.envelope{:id => "envelope_#{envelope.id}"}
    %div
      %p.name= envelope.name
      %p.amount== $#{envelope.actual_amount.to_f.to_money}
      %p.budget
        &nbsp;
        - if envelope.budget && envelope.budget.amount.to_f > 0
          == of $#{envelope.budget.amount.to_f.to_money}
      %ul.clickmenu
        %li
          %a.modal_link{:href => url(:spend_envelope, envelope)} Spend
        %li
          %a.modal_link{:href => url(:deposit_envelope, envelope)} Deposit
        %li
          %a.modal_link{:href => url(:withdraw_envelope, envelope)} Withdraw
        %li
          %a.modal_link{:href => url(:budget_envelope, envelope)} Budget
      - if envelope.actual_amount.to_f == 0
        %span.X &nbsp;X&nbsp;
