- throw_content :modal_title, 'New Envelope'

= error_messages_for @envelope

= form_for(@envelope, :action => url(:envelopes) ) do
  %p= text_field :name, :label => 'Name: ', :size => 24
  %p
    %label Type: 
    %select{:id => 'envelope[type]', :name => 'envelope[type]'}
      - Envelope.properties[:type].type.flag_map.values.map {|s|s.to_s}.sort.each do |value|
        = "<option value=\"#{value}\"#{' selected=selected' if value=='envelope'}>#{value.gsub(/_/,' ').capitalize}</option>"
  %p
    = submit "Create"
