%span{:id => "xaction_#{view_listing.id}"}
  %form{:action => url(:xaction, view_listing), :method => 'POST'}
    %input{:type => 'hidden', :name => '_method', :value => 'PUT'}
    %span.editable{:name => 'xaction[amount]', :size => 5}= view_listing.amount
    \:
    %span.editable{:name => 'xaction[description]', :size => 25}= view_listing.description
    %a{:href => 'javascript:void(0)', :onclick => "Finch.editXaction(#{view_listing.id})"} (edit)
    %input{:type => 'checkbox', :onchange => "Finch.completeXaction(#{view_listing.id})"}
