#envelopes
  - accounts = my(:envelopes).all(:type.not => :envelope)
  - unless accounts.empty?
    .floatleft
      %h2 Accounts
      = partial 'envelopes/envelope', :with => accounts
    .clear
    %p
      Total Available:
      == $#{session.user.total_available}
  .floatleft
    %h2 Envelopes
    = partial 'envelopes/envelope', :with => my(:envelopes).all(:type => :envelope)
    %div.envelope.modal_link{:href => url(:new_envelope)}
      %div
        %p.name New Envelope
        %p.amount ...
  .clear
  %p
    Total Set Aside:
    == $#{session.user.total_set_aside}
  %p
    Total Budgeted:
    == $#{session.user.total_budgeted}
